@use '../abstracts/' as *;

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	padding: 2em;
	height: 75vh;
	text-align: center;
	color: $pure-white;
	@include heroImages('../img/island-1285147_640.jpg');
	background-attachment: sroll;

	&__title {
		font-family: 'Dancing Script', cursive;
		font-size: 4.8rem;
		font-weight: 300;
	}

	&__text {
		font-size: 1.4rem;
	}

	&__btn {
		margin-top: 2em;
		background: $pure-white;
		padding: 0.8em 1.6rem;
		font-size: 1.4rem;
		border: none;
		border-radius: 8px;
		color: $dark;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;
		&::before {
			background-color: $light-white;
		}
	}
}
