@use '../abstracts/' as *;

.separator__block {
	position: absolute;
	height: 40px;
	width: 60%;
	background-color: $pure-white;
	&--left {
		bottom: -2px;
		left: -50px;
		transform: skew(45deg);
	}
	&--right {
		top: -2px;
		right: -50px;
		transform: skew(45deg);
	}
}